<header class="container">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
    <a class="navbar-brand" href="/"><img src="/media/logo.png"></a>
    <a class="nav-item nav-link" href="/new-listing">New Listing</a>
    <a class="nav-item nav-link" href="/my-listings">My Listings</a>
    <a href="/messages">Messages</a>
  </div>
  </nav>

  <div class="login-logout">
    <% if (!cookies.id) { %>
    <form method="POST" action="/">
      <label for="user">
        Enter user id:
      </label>
      <input type="text" name="user">
      <button type="submit" class="login-button">Login</button>
    </form>
    <% } else { %>
    <form method="POST" action="/logout">
      <label>Logged in as user: <%= cookies.id %></label>
      <button type="submit" class="login-button">Logout</button>
    </form>
    <% } %>
  </div>

</header>
