<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/header') %>

  <div>
    <form method="POST" action="/filter">
      <input type="number" name="min" id="">
      <input type="number" name="max">
      <button type="submit">filter</button>
    </form>
  </div>

    <h1>
      New Listings
    </h1>
    <!-- featured order -->
    <div class="product">
      <a href="/listing/1">
        <img src="to fill out later" alt="./BrokeList/public/media/default.jpg">
      </a>
      <div>
        <h4>title</h4>
        <form method="POST" action="/listing/:listing_id">
          <button type="submit">view</button>

        </form>
      </div>
      <div>
        <h4>price</h4>
        <form method="POST" action="/listing/favourite">
          <button type="submit">favourite</button>
        </form>
      </div>
    </div>
    <!-- replace br with css styling -->
    <br>
    <br>
    <!-- other listings orders -->
    <% for (listing of listings) { %>
      <div>
        <a href="/listing/<% listing.id %>">
          <img src="<% listing.location %>" alt="./public/media/default.jpg">
        </a>
        <div>
          <h3>Title</h3>
          <p>price</p>
        </div>
        <div>
          <a href="/listing/<% listing.id %>">view listing</a>
          <form method="POST" action="/listing/favourite">
            <button type="submit">favourite</button>
          </form>
        </div>
      </div>
      <% } %>
  </body>
</html>
