<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Message</title>

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/header') %>
    <div>
      <h1> Recieved Messages </h1>
      <div>
        <!-- add listing_id && title -->
        <b>Listing title: <a href="/listing/1"> inserted title </a></b>
        <div>
          <b>
            Buyer's email:
          </b>
          <b>
            Buyer's phone number:
          </b>
        </div>
        <b>
          Messsage:
        </b>
        <button type="submit" name="email">Email</button>
      </div>
      <h1> Sent Messages </h1>
      <div>
        <b>
          Listing title: <a href="/listing/1"> inserted title </a>
        </b>
        <div>
          <b>
            Sent message:
          </b>
        </div>
      </div>
    </div>
