<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/header') %>

    <!-- Active listings -->
    <!-- entire page -->
    <h1>Active listings</h1>
      <div class = "listings">
        <div>
          <!-- inject id to href -->
          <a href="/listing/1">
            <img src="To fill in later">
            Description goes here
          </a>
        </div>

        <article>
          <!-- my-listings/:listing_id/sold -->
          <form method="POST" action="my-listings/2/sold">
            <button type="submit" name="sold">Sold</button>
          </form>
          <!-- action my-listings/:listing_id/delete -->
          <form method="POST" action="my-listings/2/delete">
            <button type="submit" name="delete">Delete</button>
          </form>
        </article>

      </div>

      <!-- Sold listings -->

    <h1>Sold listings</h1>

      <div class = "listings">
        <a href="/listing/1">
          <img src="To fill in later">
          Description goes here
        </a>
        <!-- listing/:listing_id/delete -->
        <form method="POST" action="my-listings/1/delete">
          <button type="button">Delete</button>
        </form>

      </div>


  </body>
</html>
