<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/header') %>
    <h1>Create a New Listing</h1>

    <div class = "cell">
      <form method="POST" name="new-listing">
        <h2>
          Fill out the fields below to post your new listing:

        </h2>
        <div>
          <label for="title">Enter your listing title:</label>
          <input type='text' name="title">
        </div>
        <div>
          <label for="price_in_cents">Enter the price (cents):</label>
          <input type='text' name="price_in_cents" >
        </div>
        <div>
          <label for="description">Enter the listing description:</label>
          <input type='text' name="description">
        </div>
        <div>
          <label for="description">Cover Photo URL:</label>
          <input type='text' name="location" placeholder="Link eding in .jpg or .png">
        </div>
        <div>
          <label for="description">Additional photo URL:</label>
          <input type='text' name="location" placeholder="Link eding in .jpg or .png">
        </div>
        <div>
          <label for="description">Additional photo URL:</label>
          <input type='text' name="location" placeholder="Link eding in .jpg or .png">
        </div>
          <button class= "main-listing-buttons" type="submit" position="center" class="btn btn-primary">Post</button>
        </div>
      </form>
    </div>
  </body>
</html>
