header {

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1em;
  flex-wrap: nowrap;
  background-color: #afb;
  border-radius: 2em;
  align-items: center;

}

header a {
  padding-left: 2.2em;
  padding-right: 2.2em;
}

.header {
  padding-bottom: 1em;
}

.login-button {
  height: 2em;
  width: 6em;
  border: none;
  margin: none;
  background-color: #faa;
  border-radius: 1em;
}
