header {

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  flex-wrap: nowrap;
  border: solid 2px #333;
  background-color: #254683;
  border-radius: 1em;
  align-items: center;
  margin: 1em;
  color:#f4f1ec;
}

header.navbar-brand {
  width: 100%;
  height: auto;
}

header a {
  padding-left: 2.2em;
  padding-right: 2.2em;
  vertical-align: middle;
  color: #f4f1ec;
}

.header {
  padding-bottom: 1em;
  color: #f4f1ec;
}

.login-button {
  height: 2em;
  width: 6em;
  border: none;
  margin: none;
  background-color: #4277da;
  border-radius: 1em;
  border: solid 1px #333;
}
