body {
  display: flex;
  background-color: #f4f1ec;
  flex-direction: column;
  font-family: 'Chivo', sans-serif;
}

body h1 {
  color: #244751;
}

input {
  border: none;
  margin: none;
}

div img.display-image {
  display: flex;
  width: 7em;
  height: 7em;
  border-radius: 1em;
}

.cell {
  border: solid 2px #333;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  align-self: center;
  border-radius: 1em;
  padding: 0.5em;
}

.image-title div {
  padding-left: 1em;
}

.favourites-buttons:hover {
  /*
  Stolen from:
  https://stackoverflow.com/questions/7415872/change-color-of-png-image-via-css
   */
  filter: invert(100%) sepia(53%) saturate(3207%) hue-rotate(290deg);
}

.favourites-buttons img {
  width: 100%;
  display: flex;
}

.favourites-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 2em;
  border: transparent;
  background: transparent;
}

.cell:hover {
  background-color: #fff;
}

/* individual cells */

.image-title {
  display: flex;
}

.buttons {
  display: flex;
  align-items: center;
  padding-right: 2em;
  justify-content: space-between;
  margin: 1em;
}

.main-listing-buttons {
  margin: 1em;
  border: 1px solid #333;
  border-radius: 1em;
}
