body {
  display: flex;
  background-color: #f4f1ec;
  flex-direction: column;
  font-family: 'Chivo', sans-serif;
}

body h1 {
  color: #244751;
}

input {
  border: none;
  margin: none;
}

div img.display-image {
  display: flex;
  width: 7em;
  height: 7em;
}

.cell {
  border: solid 2px #333;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-title div {
  padding-left: 1em;
}

.buttons a {
  display: flex;
  padding: 1em;
}

.cell:hover {
  background-color: #fff;
}

/* individual cells */

.image-title {
  display: flex;
}

.buttons {
  display: flex;
  padding-right: 2em;
  justify-content: space-between;
}
